.input-to-results {
  border-top: 1px;
  border-top-color: lightgray;
  border-top-style: solid;
  margin: 1px 12px 0;
  padding-bottom: 4px;
}

.gowiz-searchbar-results ul {
  list-style-type: none;
  margin: 1px 1px 0;
  padding: 0 0 16px;
}

.gowiz-searchbar-results li {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.highlight-search-suggestion,
.gowiz-searchbar-results li:hover {
  background-color: #eee;
  cursor: default;
}

.dark-highlight-search-suggestion,
.dark-gowiz-searchbar-results li:hover {
  background-color: #282828;
  cursor: default;
}

.gowiz-searchbar-results {
  margin-left: 13px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark-ellipsis {
  color: #fff;
}

.result-icon {
  padding-right: 8px;
}

.result-icon svg {
  fill: grey;
  height: 18px;
  width: 18px;
}

.dark-result-icon svg {
  fill: #fff;
}

.secondary-action-icon {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 16px;
}

.secondary-action-icon svg {
  width: 14px;
  height: 14px;
  fill: black;
}

.dark-secondary-action-icon svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}

@media (min-width: 1025px) {
  .secondary-action-icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .secondary-action-icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .secondary-action-icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .secondary-action-icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .secondary-action-icon {
    width: 15%;
  }

  .ellipsis {
    width: 85%;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .secondary-action-icon {
    width: 19%;
  }

  .ellipsis {
    width: 81%;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  .secondary-action-icon {
    width: 19%;
  }

  .ellipsis {
    width: 81%;
  }
}
