.input_to_results {
  border-top-color: lightgray;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 1px 12px 0;
  padding-bottom: 4px;
}

.gowiz_searchbar_results ul {
  list-style-type: none;
  margin: 1px 1px 0;
  padding: 0 0 16px 0;
}

.gowiz_searchbar_results li {
  display: flex;
  align-items: center;
  padding: 4px 0 4px 0;
}

.highlight_search_suggestion,
.gowiz_searchbar_results li:hover {
  background-color: #eee;
  cursor: default;
}

.gowiz_searchbar_results {
  margin-left: 13px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result_icon {
  padding-right: 8px;
}

.result_icon svg {
  fill: grey;
  height: 18px;
  width: 18px;
}

.remove_icon {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding-left: 16px;
}

.remove_icon svg {
  width: 14px;
  height: 14px;
  fill: black;
}

@media (min-width: 1025px) {
  .remove_icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .remove_icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .remove_icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .remove_icon {
    width: 11%;
  }

  .ellipsis {
    width: 89%;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .remove_icon {
    width: 15%;
  }

  .ellipsis {
    width: 85%;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .remove_icon {
    width: 19%;
  }

  .ellipsis {
    width: 81%;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  .remove_icon {
    width: 19%;
  }

  .ellipsis {
    width: 81%;
  }
}
